@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lobster", cursive;
}
h1 {
  font-size: 60px;
  bottom: -50px;
  color: rgb(198, 164, 80);
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp {
  display: flex;
  align-items: center;
  padding: 10px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
